# Python 3.11

# torch  # Install torch following the instructions at https://pytorch.org/
einops
numpy<2
ott-jax
matplotlib==3.7.0
seaborn
tqdm
POT
wandb
mdtraj==1.10.3
# For ALDP
openmm==8.2.0  # Use: conda install -c conda-forge openmm=8.2.0
openmmtools==0.24.2  # Use: conda install -c conda-forge openmmtools=0.24.2
boltzgen @ git+https://github.com/VincentStimper/boltzmann-generators.git
